# loan status prediction by using MultinomialNB model

# data analysis

In [2]:
import pandas as  pd

In [3]:
df=pd.read_csv("train.csv")

In [4]:
df.head()

,id,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,loan_status
0,0,37,35000,RENT,0.0,EDUCATION,B,6000,11.49,0.17,N,14,0
1,1,22,56000,OWN,6.0,MEDICAL,C,4000,13.35,0.07,N,2,0
2,2,29,28800,OWN,8.0,PERSONAL,A,6000,8.90,0.21,N,10,0
3,3,30,70000,RENT,14.0,VENTURE,B,12000,11.11,0.17,N,5,0
4,4,22,60000,RENT,2.0,MEDICAL,A,6000,6.92,0.10,N,3,0

In [5]:
df1=pd.read_csv("test.csv")

In [6]:
def r(x):
    l=[]
    for i in df1[x]:
        if i in df[x]:
            i=df[df[x]==i]["loan_status"].mean()
            l.append(i)
        else:
            i=df["loan_status"].sum()/df["loan_status"].value_counts().sum()
            l.append(i)


    return l

In [7]:
df1["person_home_ownership"]=r("person_home_ownership")

In [8]:
df1["loan_intent"]=r("loan_intent")

In [9]:
df1["loan_grade"]=r("loan_grade")

In [10]:
df1["cb_person_default_on_file"]=r("cb_person_default_on_file")

In [11]:
def r(x):
    l=[]
    for i in x:
        i=df[x==i]["loan_status"].mean()
        l.append(i)
        

    return l

In [12]:
df.shape

(58645, 13)

In [13]:
df=df.sample(3000)

In [14]:
df["person_home_ownership"]=r(df["person_home_ownership"])

In [15]:
df["loan_intent"]=r(df["loan_intent"])

In [16]:
df["loan_grade"]=r(df["loan_grade"])

In [17]:
df["cb_person_default_on_file"]=r(df["cb_person_default_on_file"])

In [18]:
df=df.reset_index()

In [19]:
x=df.drop(["id","loan_status"],axis=1)

In [20]:
y=df[["loan_status"]]

# model training part

In [21]:
from sklearn.naive_bayes import MultinomialNB

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [24]:
mb=MultinomialNB()

In [25]:
model=mb.fit(x,y)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [26]:
model1=mb.fit(x_train,y_train)
pred=model1.predict(x_test)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [27]:
from sklearn.metrics import accuracy_score

In [28]:
accuracy_score(pred,y_test)

0.6016666666666667

# we estimated by 0.60 score

In [29]:
df1=df1.drop("id",axis=1)

In [30]:

expected_columns = x.columns  

df1 = df1.reindex(columns=expected_columns, fill_value=0)  


pre = model.predict(df1)

In [31]:
df2=pd.read_csv("test.csv")

In [32]:
df2["loan_status"]=pre

In [33]:
df2=df2[["id","loan_status"]]

In [34]:
df2.to_csv("data.csv",index=False)