# classification by MultinomialNB

# data analysis

In [1]:
import pandas as  pd
df=pd.read_csv("train.csv")

df1=pd.read_csv("test.csv")

In [2]:
df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [3]:
df1.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [4]:
l=["id","Surname","CustomerId","Geography"]

In [5]:
df=df.drop(l,axis=1)
df1=df1.drop(l,axis=1)

In [6]:
df=pd.get_dummies(df)
df1=pd.get_dummies(df1)

In [7]:
df.corr(numeric_only=True)

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male
CreditScore,1.000000,-0.008918,0.000942,0.006973,0.011361,-0.002828,0.014790,-0.001820,-0.027383,-0.002310,0.002310
Age,-0.008918,1.000000,-0.010830,0.064318,-0.102195,-0.012111,0.003320,-0.005399,0.340768,0.063139,-0.063139
Tenure,0.000942,-0.010830,1.000000,-0.009481,0.007335,0.005327,-0.005532,0.000971,-0.019565,-0.008767,0.008767
Balance,0.006973,0.064318,-0.009481,1.000000,-0.361033,-0.018584,-0.015073,0.008586,0.129743,0.014699,-0.014699
NumOfProducts,0.011361,-0.102195,0.007335,-0.361033,1.000000,0.005482,0.039736,-0.004285,-0.214554,-0.026098,0.026098
HasCrCard,-0.002828,-0.012111,0.005327,-0.018584,0.005482,1.000000,-0.021034,0.004438,-0.022141,-0.006418,0.006418
IsActiveMember,0.014790,0.003320,-0.005532,-0.015073,0.039736,-0.021034,1.000000,-0.008080,-0.210237,-0.033722,0.033722
EstimatedSalary,-0.001820,-0.005399,0.000971,0.008586,-0.004285,0.004438,-0.008080,1.000000,0.018827,0.007778,-0.007778
Exited,-0.027383,0.340768,-0.019565,0.129743,-0.214554,-0.022141,-0.210237,0.018827,1.000000,0.146442,-0.146442
Gender_Female,-0.002310,0.063139,-0.008767,0.014699,-0.026098,-0.006418,-0.033722,0.007778,0.146442,1.000000,-1.000000
Gender_Male,0.002310,-0.063139,0.008767,-0.014699,0.026098,0.006418,0.033722,-0.007778,-0.146442,-1.000000,1.000000

In [8]:
l=[]
for i in df.corr(numeric_only=True):
    if -0.1<df.corr(numeric_only=True)[i][8]<0.1:
        l.append(i)






df=df.drop(l,axis=1)

C:\Users\yso05\AppData\Local\Temp\ipykernel_4472\2609145722.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if -0.1<df.corr(numeric_only=True)[i][8]<0.1:

In [9]:
l=[]
for i in df1.columns:
    if i not in df.columns:
        l.append(i)


df1=df1.drop(l,axis=1)

In [10]:
df.shape

(165034, 7)

In [11]:
df=df.sample(4000)

In [12]:
x=df.drop("Exited",axis=1)

In [13]:
y=df[["Exited"]]

# model training part

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [16]:
from sklearn.naive_bayes import MultinomialNB

In [17]:
mb=MultinomialNB()

In [18]:
model=mb.fit(x,y)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [19]:
pre=model.predict(df1)

In [20]:
pred=model.predict(x_test)

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
accuracy_score(pred,y_test)

0.57

# we estimated by .57

In [23]:
df2=pd.read_csv("test.csv")

In [24]:
df2["Exited"]=pre

In [25]:
df2=df2[["id","Exited"]]

In [26]:
df2.to_csv('data.csv', index=False)