# status estimation by using MultinomialNB model

# data analysis

In [1]:
import pandas as  pd
df=pd.read_csv("train.csv")

df1=pd.read_csv("test.csv")

In [2]:
df.head()

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
0,0,999,D-penicillamine,21532,M,N,N,N,N,2.3,316.0,3.35,172.0,1601.0,179.80,63.0,394.0,9.7,3.0,D
1,1,2574,Placebo,19237,F,N,N,N,N,0.9,364.0,3.54,63.0,1440.0,134.85,88.0,361.0,11.0,3.0,C
2,2,3428,Placebo,13727,F,N,Y,Y,Y,3.3,299.0,3.55,131.0,1029.0,119.35,50.0,199.0,11.7,4.0,D
3,3,2576,Placebo,18460,F,N,N,N,N,0.6,256.0,3.50,58.0,1653.0,71.30,96.0,269.0,10.7,3.0,C
4,4,788,Placebo,16658,F,N,Y,N,N,1.1,346.0,3.65,63.0,1181.0,125.55,96.0,298.0,10.6,4.0,C

In [3]:
df1.head()

,id,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,7905,3839,D-penicillamine,19724,F,N,Y,N,N,1.2,546.0,3.37,65.0,1636.0,151.90,90.0,430.0,10.6,2.0
1,7906,2468,D-penicillamine,14975,F,N,N,N,N,1.1,660.0,4.22,94.0,1257.0,151.90,155.0,227.0,10.0,2.0
2,7907,51,Placebo,13149,F,N,Y,N,Y,2.0,151.0,2.96,46.0,961.0,69.75,101.0,213.0,13.0,4.0
3,7908,2330,D-penicillamine,20510,F,N,N,N,N,0.6,293.0,3.85,40.0,554.0,125.55,56.0,270.0,10.6,2.0
4,7909,1615,D-penicillamine,21904,F,N,Y,N,N,1.4,277.0,2.97,121.0,1110.0,125.00,126.0,221.0,9.8,1.0

In [4]:
df=df.drop("id",axis=1)
df1=df1.drop("id",axis=1)

In [5]:
df["Status"].unique()

array(['D', 'C', 'CL'], dtype=object)

In [6]:
a={'D':1,'C':2,'CL':3}

In [7]:
df["Status"]=df["Status"].map(a)

In [8]:
df["Drug"].unique()

array(['D-penicillamine', 'Placebo'], dtype=object)

In [9]:
df=pd.get_dummies(df)
df1=pd.get_dummies(df1)

In [10]:
l=[]
for i in df1.columns:
    if i not in df.columns:
        l.append(i)


df1=df1.drop(l,axis=1)

In [11]:
l=[]
for i in df.columns:
    if i !="Status":
        if i not in df1.columns:
            l.append(i)


df=df.drop(l,axis=1)

In [12]:
df.shape

(7905, 26)

In [13]:
x=df.drop("Status",axis=1)

In [14]:
y=df[["Status"]]

# model training part

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [17]:
from sklearn.naive_bayes import MultinomialNB

In [18]:
mb=MultinomialNB()

In [19]:
model=mb.fit(x,y)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
model1=mb.fit(x_train,y_train)
pred=model1.predict(x_test)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [21]:
pre=model.predict(df1)

In [22]:
from sklearn.metrics import accuracy_score

In [23]:
accuracy_score(pred,y_test)

0.6375711574952562

# we estimated by .63

In [24]:
df2=pd.read_csv("test.csv")

In [25]:
df2["Status"]=pre

In [26]:
df2=df2[["id","Status"]]

In [27]:
a={'D':1,'C':2,'CL':3}

In [28]:
a={1:"D",2:"C",3:"CL"}

In [29]:
df2["Status"]=df2["Status"].map(a)

In [30]:
df2.to_csv('data.csv', index=False)