# failure estimation by using MultinomialNB

# data analysis

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("train.csv")

In [3]:
df.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
0,0,A,80.10,material_7,material_8,9,5,7,8,4,...,10.672,15.859,17.594,15.193,15.029,NaN,13.034,14.684,764.100,0
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
2,2,A,82.43,material_7,material_8,9,5,12,1,5,...,12.715,15.607,NaN,13.798,16.711,18.631,14.094,17.946,663.376,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0

In [4]:
df.isnull().sum()

id                   0
product_code         0
loading            250
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      381
measurement_4      538
measurement_5      676
measurement_6      796
measurement_7      937
measurement_8     1048
measurement_9     1227
measurement_10    1300
measurement_11    1468
measurement_12    1601
measurement_13    1774
measurement_14    1874
measurement_15    2009
measurement_16    2110
measurement_17    2284
failure              0
dtype: int64

In [5]:
df.shape

(26570, 26)

In [6]:
df=df.dropna()

In [7]:
df.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17,failure
1,1,A,84.89,material_7,material_8,9,5,14,3,3,...,12.448,17.947,17.915,11.755,14.732,15.425,14.395,15.631,682.057,0
3,3,A,101.07,material_7,material_8,9,5,13,2,6,...,12.471,16.346,18.377,10.020,15.250,15.562,16.154,17.172,826.282,0
4,4,A,188.06,material_7,material_8,9,5,9,2,8,...,10.337,17.082,19.932,12.428,16.182,12.760,13.153,16.412,579.885,0
7,7,A,177.92,material_7,material_8,9,5,4,8,8,...,10.254,16.449,20.478,12.207,15.624,16.968,15.176,17.231,684.000,1
11,11,A,175.38,material_7,material_8,9,5,7,3,2,...,11.309,16.310,18.959,11.520,14.659,15.355,15.175,15.829,792.591,1

In [8]:
df1=pd.read_csv("test.csv")

In [9]:
df1.head()

,id,product_code,loading,attribute_0,attribute_1,attribute_2,attribute_3,measurement_0,measurement_1,measurement_2,...,measurement_8,measurement_9,measurement_10,measurement_11,measurement_12,measurement_13,measurement_14,measurement_15,measurement_16,measurement_17
0,26570,F,119.57,material_5,material_6,6,4,6,9,6,...,18.654,10.802,15.909,18.070,13.772,13.659,16.825,13.742,17.710,634.612
1,26571,F,113.51,material_5,material_6,6,4,11,8,0,...,19.368,12.032,13.998,NaN,12.473,17.468,16.708,14.776,14.102,537.037
2,26572,F,112.16,material_5,material_6,6,4,8,12,4,...,17.774,11.743,17.046,18.086,10.907,13.363,15.737,17.065,16.021,658.995
3,26573,F,112.72,material_5,material_6,6,4,8,11,10,...,18.948,11.790,18.165,16.163,10.933,15.501,15.667,12.620,16.111,594.301
4,26574,F,208.00,material_5,material_6,6,4,14,16,8,...,19.141,12.370,14.578,17.849,11.941,16.070,16.183,13.324,17.150,801.044

In [10]:
df["attribute_0"].nunique()

2

In [11]:
df["attribute_1"].nunique()

3

In [12]:
df["product_code"].nunique()

5

In [13]:
df.describe(include="object")

       product_code attribute_0 attribute_1
count         12183       12183       12183
unique            5           2           3
top               C  material_7  material_8
freq           2666        9763        5047

In [14]:
df=pd.get_dummies(df)

In [15]:
a=df.corr()

In [16]:
l=[]
for i in df:
    if -.009999<a[i][22]<0.009999:
        l.append(i)




df=df.drop(l,axis=1)

C:\Users\yso05\AppData\Local\Temp\ipykernel_27112\29649580.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if -.009999<a[i][22]<0.009999:

In [17]:
df.head()

,loading,measurement_4,measurement_5,measurement_6,measurement_7,measurement_17,failure,product_code_B,product_code_E,attribute_0_material_5,attribute_0_material_7,attribute_1_material_5,attribute_1_material_6
1,84.89,11.540,17.717,17.893,12.748,682.057,0,False,False,False,True,False,False
3,101.07,11.188,18.576,18.339,12.583,826.282,0,False,False,False,True,False,False
4,188.06,12.950,16.990,15.746,11.306,579.885,0,False,False,False,True,False,False
7,177.92,13.634,17.879,15.894,11.029,684.000,1,False,False,False,True,False,False
11,175.38,11.507,18.377,16.338,10.019,792.591,1,False,False,False,True,False,False

In [18]:
df=df.reset_index()

In [19]:
df.head()

,index,loading,measurement_4,measurement_5,measurement_6,measurement_7,measurement_17,failure,product_code_B,product_code_E,attribute_0_material_5,attribute_0_material_7,attribute_1_material_5,attribute_1_material_6
0,1,84.89,11.540,17.717,17.893,12.748,682.057,0,False,False,False,True,False,False
1,3,101.07,11.188,18.576,18.339,12.583,826.282,0,False,False,False,True,False,False
2,4,188.06,12.950,16.990,15.746,11.306,579.885,0,False,False,False,True,False,False
3,7,177.92,13.634,17.879,15.894,11.029,684.000,1,False,False,False,True,False,False
4,11,175.38,11.507,18.377,16.338,10.019,792.591,1,False,False,False,True,False,False

In [20]:
df=df.drop("index",axis=1)

In [21]:
df1.isnull().sum()

id                   0
product_code         0
loading            223
attribute_0          0
attribute_1          0
attribute_2          0
attribute_3          0
measurement_0        0
measurement_1        0
measurement_2        0
measurement_3      329
measurement_4      409
measurement_5      508
measurement_6      624
measurement_7      720
measurement_8      846
measurement_9      904
measurement_10    1067
measurement_11    1136
measurement_12    1240
measurement_13    1303
measurement_14    1440
measurement_15    1542
measurement_16    1678
measurement_17    1740
dtype: int64

In [22]:
print(df1.dtypes)

id                  int64
product_code       object
loading           float64
attribute_0        object
attribute_1        object
attribute_2         int64
attribute_3         int64
measurement_0       int64
measurement_1       int64
measurement_2       int64
measurement_3     float64
measurement_4     float64
measurement_5     float64
measurement_6     float64
measurement_7     float64
measurement_8     float64
measurement_9     float64
measurement_10    float64
measurement_11    float64
measurement_12    float64
measurement_13    float64
measurement_14    float64
measurement_15    float64
measurement_16    float64
measurement_17    float64
dtype: object

In [23]:
df1=pd.get_dummies(df1)

In [24]:
for i in df1:
    df1[i]=df1[i].fillna(df1[i].mean())

In [25]:
df1.isnull().sum()

id                        0
loading                   0
attribute_2               0
attribute_3               0
measurement_0             0
measurement_1             0
measurement_2             0
measurement_3             0
measurement_4             0
measurement_5             0
measurement_6             0
measurement_7             0
measurement_8             0
measurement_9             0
measurement_10            0
measurement_11            0
measurement_12            0
measurement_13            0
measurement_14            0
measurement_15            0
measurement_16            0
measurement_17            0
product_code_F            0
product_code_G            0
product_code_H            0
product_code_I            0
attribute_0_material_5    0
attribute_0_material_7    0
attribute_1_material_5    0
attribute_1_material_6    0
attribute_1_material_7    0
dtype: int64

In [26]:
l=[]
for i in df1:
    if i not in df:
        l.append(i)





df1=df1.drop(l,axis=1)

In [27]:
l=[]
for i in df:
  if i !="failure":  
    if i not in df1:
        l.append(i)





df=df.drop(l,axis=1)

# model training part

In [28]:
from sklearn.naive_bayes import MultinomialNB

In [29]:
mb=MultinomialNB()

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x=df.drop("failure",axis=1)

In [32]:
y=df[["failure"]]

In [33]:
model=mb.fit(x,y)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=42)

In [35]:
pre=model.predict(df1)

In [36]:
model1=mb.fit(x_train,y_train)
pred=model1.predict(x_test)

c:\Users\yso05\Documents\AI\day9\.conda\lib\site-packages\sklearn\utils\validation.py:1408: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
from sklearn.metrics import accuracy_score

In [38]:
accuracy_score(pred,y_test)

0.686089454247025

# we estimated by 68 score

In [39]:
df2=pd.read_csv("test.csv")

In [40]:
df2["failure"]=pre

In [41]:
df2=df2[["failure","id"]]

In [42]:
df2.to_csv("data.csv",index=False)